<!DOCTYPE html>
<div lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Application - Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
</head>
<body>


    <div class="home-container">
        <header>
            <h1>"Welcome to your Email Sending Application! Effortlessly compose, send, and track your emails with attachments, all in one place. Whether sending to one recipient or many, we’ve made it simple, secure, and efficient. Let's get started!"</h1>
        </header>
        <div class="buttons">
            <div class="main-content">
            <button class="compose-btn"><a href="{{url_for('compose')}}" style="text-decoration: none; color: rgb(12, 19, 19);">Compose</a></button>
        </div>
        <div class="main-content">
            <button class="compose-btn"><a href="{{url_for('sentmailspage')}}" style="text-decoration: none; color: rgb(12, 19, 19);">ViewSentEmails</a></button>
        </div>
        </div>
        

    </div>

    <!-- <script>
        function composeEmail() {
            // Redirect to the compose page or show the compose form
            window.location.href = '/compose'; // Assuming Flask has a '/compose' route
        }
    </script> -->
</body>
</html>
