<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SENT EMAILS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sent_mails_page.css') }}">
</head>
</head>

<body>
    <div class="table" id="sent_emails_table">
        <section class="table__header">
            <section class="table__header left">
                <a href="/"><h1>HOME</h1></a>
           </section>
            <section class="table__header center">
                <h1>SENT EMAILS</h1>
            </section>
            <section class="table__header right">
                <h1>COMPOSE</h1>
            </section>
        </section>
            
        <section class="table__body">
            <table id="emailTable">
                <thead>
                    <tr>    
                        <th>Sendername</th>
                        <th>To</th>
                        <th>Receiver Name</th>
                        <th>Subject</th>
                        <th class="hidden-td">Body</th>
                        <th class="hidden-td">Attachments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Rows will be added here dynamically -->
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

      <!-- Dialog Box (Adds body and attachments of individual email) -->
    <div id="dialog" class="dialog">
        <div class="dialog-content">
            <span id="close-btn" class="close-btn" onclick="closeDialog()">&times;</span>
    
            <div>
                <h2>Email Details</h2> <br> <br>
            </div>
            
            <div class="section">
                <h4>Email Body:</h4>
                <p id="dialog-body"></p> <br>
            </div>

            <div id="dialog-attachments" class="section">
                <h4>Attachments:</h4>
                <p id="dialog-file-name"></p>
                <a class="download-btn" id="document-dialog" >Click to Download !</a>
            </div>


            <br>
            <!-- <button id="close-button" onclick="closeDialog()">OK</button> -->
        </div>
    </div>



</body>

<script  src="{{ url_for('static', filename='sent_mails_page.js') }}"></script>


<style>

</style>

</html>